.ea-menu-item_wrap {
  --normal-bgc: #fff;
  --normal-text-color: #303133;

  --actived-text-color: #409eff;
  --actived-bgc: #fff;

  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 2px solid;
  border-color: transparent;

  height: 60px;
  line-height: 60px;

  font-size: 14px;
  color: var(--normal-text-color);
  background-color: var(--normal-bgc);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;

  transition: border-color 0.3s, background-color 0.3s, color 0.3s;

  &.is-actived {
    color: var(--actived-text-color);
    border-color: var(--actived-text-color);

    ::slotted(a) {
      color: var(--actived-text-color) !important;
    }
  }

  &.is-sub-actived {
    color: var(--actived-text-color);

    ::slotted(a) {
      color: var(--actived-text-color) !important;
    }
  }

  &.is-disabled {
    color: #c0c4cc !important;
    pointer-events: none;
    cursor: not-allowed;

    ::slotted(a) {
      color: #c0c4cc !important;
    }
  }

  ::slotted(a) {
    color: var(--normal-text-color) !important;
    text-decoration: none !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
