.ea-menu-item-group_wrap {
  --normal-bgc: #fff;
  --normal-text-color: #303133;

  --actived-text-color: #409eff;
  --actived-bgc: #fff;

  width: 100%;

  &.is-actived {
    .ea-submenu_title_wrap {
      color: var(--actived-text-color);
      border-color: var(--actived-text-color);
    }
  }

  .ea-submenu_title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: 2px solid;
    border-color: transparent;

    height: 60px;
    line-height: 60px;

    font-size: 14px;
    color: var(--normal-text-color);
    background-color: var(--normal-bgc);
    white-space: nowrap;
    cursor: pointer;

    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  }

  .ea-submenu_items_wrap {
    margin: 0 20px;

    height: 0;
    overflow: hidden;

    transition: height 0.3s;
  }
}
