.ea-tabs_wrap {
  position: relative;

  .ea-tabs_tab-wrap {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  .ea-tabs_pane-wrap {
    padding: 20px;
  }

  .ea-tabs_tab-bottom-bar {
    position: absolute;
    height: 2px;
    width: 0;

    top: 40px;
    left: 0;

    border-radius: 999px;

    background-color: #409eff;

    transition: left 0.3s;
  }

  &.ea-tabs_wrap--normal {
    .ea-tabs_tab-wrap {
      border-bottom: 2px solid #e4e7ed;
    }
  }

  &.ea-tabs_wrap--card {
    .ea-tabs_tab-wrap {
      border-bottom: 1px solid #e4e7ed;
    }

    .ea-tabs_tab-bottom-bar {
      height: 1px;
      bottom: -1px;

      background-color: white;
    }
  }

  &.ea-tabs_wrap--border-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .ea-tabs_tab-wrap {
      background-color: #f5f7fa;
      border-bottom: 1px solid #e4e7ed;
    }

    .ea-tabs_tab-bottom-bar {
      height: 1px;
      bottom: -1px;

      background-color: white;
    }
  }
}
