@import "../components/ea-icon/css/fontello.css";
@import "../components/ea-icon/css/animation.css";
@font-face {
  font-size: 1rem;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("../components/ea-icon/font/fontello.eot") format("embedded-opentype"), url("../components/ea-icon/font/fontello.ttf") format("truetype"), url("../components/ea-icon/font/fontello.woff") format("woff"), url("../components/ea-icon/font/fontello.woff2") format("woff2"), url("../components/ea-icon/font/fontello.svg") format("svg");
}
.demo {
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}
.demo .title {
  text-align: center;
  margin: 0.5rem 0;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}
.row.left {
  justify-content: flex-start;
}
.row.left > *:not(ea-result) {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.row.left > ea-tag {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.row.left > ea-badge {
  margin-right: 1.5rem;
}
.row.right {
  justify-content: flex-end;
}
.row.center {
  justify-content: center;
}
.row.flex-start {
  align-items: flex-start;
}
.row p {
  text-align: center;
  color: #888f9e;
}
.row .title {
  text-align: center;
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 8px;
}
.col.left {
  align-items: flex-start;
}
.col.left > * {
  margin-bottom: 0.5rem;
}
.col.left > ea-input {
  margin-bottom: 0.5rem;
}
.col.left > ea-progress {
  margin-bottom: 2rem;
}
.col p {
  text-align: center;
  color: #888f9e;
}
.col section {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.main-icon-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-icon-wrap section {
  box-sizing: border-box;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 16.66%;
  color: #666;
  border: 1px solid #eee;
  transition: color 0.2s;
}
.main-icon-wrap section span {
  line-height: 1;
  font-size: 0.7rem;
}
.main-icon-wrap section:hover {
  color: #5cb6ff;
}
.main-icon-wrap section i {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.color-picker {
  display: block;
  width: 1rem;
  height: 1rem;
}