.ea-steps_wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ea-steps_wrap ::slotted(ea-step) {
  flex-basis: 50%;
}
.ea-steps_wrap.is-simple {
  justify-content: unset;
}